@using CDCPortal.DA.UIComponents.Models.Inputs;

@model UICInputCheckbox

@{

    string id = Model.GetOrGenerateId();
    Model.AddAttribute("class", "custom-control-input");
    if (Model.Actions.HasValue())
    {
        Model.Actions.SetIdentifier($"#{id}");
    }
}

<div class="custom-control custom-switch icheck-@Model.Color" title="@L.GetResourceValue(Model.Tooltip)">
    <input type="checkbox" @(Model.Value?"checked":"") @Html.Raw(Model.GetHtmlAttributes())/>
    <label class="custom-control-label" for="@id"></label>
</div>

@await Model.Actions.InvokeAsync(Component)