@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@inject IUICLanguageService L

@model UICCardHeader
@{
    string id = Model.GetId();
    Model.AssignCollectionForChildren();

    if (Model.Color != null)
        Model.AddClass($"bg-{Model.Color.ToLower()}");
    if (Model.CollapseCardOnClick)
        Model.AddScript(
    @<text>
    $('#@id').on('click', ()=>{
        $('#@id').closest('.card').trigger('uic-toggle');
    });

    $('#@id .card-tools').on('click', (ev)=>{
        ev.stopPropagation();
    })
    </text>);
}


<div @Html.Raw(Model.GetHtmlAttributes())>
    <div class="card-title" @(Model.CollapseCardOnClick ? Html.Raw("style=\"user-select:none;\"") : null)>
        @await Model.PrependTitle.InvokeAsync(Component)
        @await Html.TranslateHtml(L, Model.Title)
        @await Model.AppendTitle.InvokeAsync(Component)
    </div>
    @if (Model.Buttons.AnyHasValue())
    {
        <div class="card-tools">
            @foreach(var button in Model.Buttons)
            {
                if (button is UICButton b2)
                    b2.Renderer = UICButton.ButtonRenderer.CardButton;
                if (button is UICToggleButton toggleButton)
                {
                    toggleButton.ButtonTrue.Renderer = UICButton.ButtonRenderer.CardButton;
                    toggleButton.ButtonFalse.Renderer = UICButton.ButtonRenderer.CardButton;
                }
                @await button.InvokeAsync(Component)
            }
        </div>
    }
</div>

@await Model.RenderStylesAndScripts(Component)