@using UIComponents.Web.Tests.Factory
@using UIComponents.Web.Tests.Services
@inject TestService testService;
@model TestViewModelFromFactory
@{
    var input = new UICInputTime("blub");
    input.ValidationMinTime = new TimeOnly(2, 15);
    input.ValidationMaxTime = new TimeOnly(16, 45);
    input.Step = 10;
    input.Value = new TimeOnly(12, 30);


    var increaseCountButton = new UICButton("IncreaseCount")
    {
        OnClick = new UICActionServerResponse(false, (data) =>
        {
            testService.IncreaseNumberByOne();
        })
    };
}
<h2>
    Using PermissionService: @Model.UsePermissionService
</h2>
<h2>
    Using LanguageService: @Model.UseLanguageService
</h2>
<span class="counter">0</span>

@await increaseCountButton.InvokeAsync(Component)
@await input.InvokeAsync(Component)