@using UIComponents.Web.Tests.Factory
@model TestViewModelFromFactory

<h2>
    Using PermissionService: @Model.UsePermissionService
</h2>
<h2>
    Using LanguageService: @Model.UseLanguageService
</h2>