@using CDCPortal.DA.UIComponents.Models;
@model UICDiv


<div @Html.Raw(Model.GetHtmlAttributes())>
    @foreach(var component in Model.Components)
    {
        @await component.InvokeAsync(Component)
    }
</div>