@using UIComponents.Abstractions;
@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Enums
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;


@model UICSelectListItem

@inject IUICLanguageService L
@{
    Model.Attributes["value"] = Model.Value?.ToString()??null;

    if (!string.IsNullOrEmpty(Model.SearchTag))
        Model.AddAttribute("data-select-search", Model.SearchTag);
}


<option @Html.Raw(Model.GetHtmlAttributes()) @(Model.Selected?"selected":"") @(Model.Disabled?"disabled": "")>
    @Model.Text
</option>