.uic.btn-toolbar {
    &.dist-none {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right, span {
            position: relative;
            display: inline-flex;
            vertical-align: middle;

            input:not(:first-child) {
                @include border-left-radius(0);
                margin-left: -1px;
            }

            input:not(:last-child) {
                @include border-right-radius(0);
            }
        }
    }

    &.dist-short {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 1);
        }
    }

    &.dist-medium {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 3);
        }
    }

    &.dist-long {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 5);
        }
    }


    > .btn-toolbar-left {
        margin-right: auto;
    }

    > .btn-toolbar-right {
        margin-left: auto;
    }

    > .btn-toolbar-center {
        margin-left: auto;
        margin-right: auto;
    }

    &:has(+ :not([hidden]):where(:not(script, style))) {
        margin-bottom: $uic-btn-toolbar-padding;
    }

    &:not(:first-child) {
        margin-top: $uic-btn-toolbar-padding;
    }
}

.btn-toolbar-sm {
    .btn {
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
    }
}