@using UIComponents.Models.Models;
@using UIComponents.Web.Extensions;

@model UICGroup

@{
    Model.AssignCollectionForChildren();
}
<div @Html.Raw(Model.GetHtmlAttributes())>
    @foreach (var element in Model.Components)
    {
        <p>@element.ToString()</p>
        @await element.InvokeAsync(Component)
    }
</div>
@await Model.RenderStylesAndScripts(Component)