.jsgrid.jsgrid-minimal {
    .jsgrid-grid-header {
        .jsgrid-header-row {
            .jsgrid-header-cell {
                padding: 0px;
            }
        }

        .jsgrid-filter-row {

            .jsgrid-cell {
                padding: 0px;

                input:not(.jsgrid-button), select {
                    @extend .form-control;
                    padding: 0.2em;
                    height: calc(1.5rem + 2px);
                }

                .input-group-text {
                    padding: 0rem 0.2rem;
                }
            }
        }
    }

    .jsgrid-grid-body {
        a.btn {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
}

.uic.jsgrid {
    .jsgrid-row, .jsgrid-alt-row {
        .jsgrid-cell {
            padding: 0em 0.25em;
            overflow: hidden;

            > .custom-switch {
                margin: 1px;
            }
        }
    }

    .jsgrid-header-row .jsgrid-header-cell {
        overflow: hidden;
    }

    .jsgrid-filter-row .jsgrid-cell {
        overflow: hidden;
    }

    .jsgrid-partial-content {
        padding: 0;
    }

    &.no-scroll {
        .jsgrid-grid-header, .jsgrid-grid-body {
            overflow-y: hidden;
        }
    }
}

.jsgrid.in-card {
    margin-left: calc(-#{$card-spacer-x} - 1px);
    margin-right: calc(-#{$card-spacer-x} - 1px);

    &:first-child {
    }
}
.card-body {
    @include first-visible(div) {
        > .jsgrid.in-card {
            margin-top: calc(-#{$card-spacer-x} - 1px);
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }
    }

    @include last-visible(div) {
        > .jsgrid.in-card {
            margin-bottom: calc(-#{$card-spacer-x} - 1px);
            border-bottom-left-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
        }
    }
}
.radius-x {
    > * {
        border-radius: 0;
    }

    @include radius-first-last-x(10px);
}

