.uic.card-tabs {

    a.nav-link {
        margin: -$nav-tabs-border-width;
        display: inline-flex;

        > .tab-tools {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }

    &:not(.card-outline) > .card-header {
        border-bottom: inherit;
    }

    > .card-header > .card-header-tabs {

        .tab-title {
            margin-left: auto;

            &:last-child {
                margin-right: auto;
            }
        }
    }

    > .card-body {
        &:has(.tab-content > .tab-pane.active > div > .card:first-child:last-child) /*, &:has(.tab-content > .tab-pane.active > div > div:first-child:last-child)*/ {
            padding: 0;
        }
    }


    > .row {
        margin-left: 0px;
        margin-right: 0px;

        .col-tab-headers {
            flex-grow: 0;
            min-width: fit-content;
            /*padding-left: 0px;*/
            //margin-left: -2px;
            padding-right: 0px;

            .nav-pills .nav-link:first-child {
                margin-top: $card-spacer-y;
            }
        }

        .col-tab-content {
            &:has(.tab-content > .tab-pane.active >.card:first-child:last-child) {
                padding: 0;
            }
        }
    }

    .tab-pane > .uic.card-tabs:only-child, .tab-pane > div:only-child > .uic.card-tabs:only-child, .sub-tabs {
        border-width: 0;
        box-shadow: none;

        > .card-header {
            border-radius: 0;
            padding-top: 0;
        }

        .col-tab-headers :not(.nav-pills) .nav-link.active:first-child {
            border-top-left-radius: 0;
        }
    }
    // css for horizontal tabs
    @include is-horizontal-tabs {
        @include horizontal-tabs-content {
            @include has-only-tabs {
                .card-tabs {
                    @include is-vertical-tabs {
                        > .row {
                            margin-left: -2px;
                        }
                    }
                }
            }
        }
    }
    // css for horizontal pills
    @include is-horizontal-pills {

        > .card-header {
            border-bottom: 0;

            .nav-pills {
                margin-bottom: 0;
            }
        }
    }
    // css for vertical tabs
    @include is-vertical-tabs {
        @include vertical-tabs-content {


            @include has-only-tabs {
                .card-tabs {
                    @include is-horizontal-tabs {
                        @include horizontal-tabs-headers {
                            margin-left: -$card-spacer-x;
                        }
                    }

                    @include is-vertical-tabs {
                        > .row > .col-tab-headers {
                            padding: 0;
                        }

                        @include vertical-tabs-headers {
                            .nav-link {
                                border-bottom-left-radius: 0;
                            }
                        }
                    }
                }
            }
        }

        > .row > .col-tab-content {
            /*border-top: $nav-tabs-border-width solid $gray-300;
            margin-top: -$nav-tabs-border-width;*/
        }
    }
    // css for vertical pills
    @include is-vertical-pills {
        > .card-body > .tab-content > .tab-pane {
            > .uic.card-tabs:only-child, > div:only-child > .uic.card-tabs:only-child, > .sub-tabs, div:only-child > .sub-tabs {
                &:has(> .row > .col > .nav-pills) {
                    /*margin-top: calc(-#{$card-spacer-x} + 3px);
                    margin-bottom: calc(-#{$card-spacer-x} + 2px);*/
                }
            }
        }
    }



    .tab-pane > .card:only-child {
        box-shadow: none;
    }
}
