@using UIComponents.Abstractions;
@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@model UICSidePanel

@{
    string id = Model.GetId();


    Model.AssignCollectionForChildren();

    Model.Initialize();

    Model.AddClass("side-panel-container horizontal row");
    Model.AddAttribute("data-sidebar-name", Model.SidePanelIdentifier);


}

@if (Model.SidePanelContent.HasValue())
{
    Model.AddScriptDocReady(
    @<text>
    uic.sidePanel.initialize($('#@id'), @((int)Model.DefaultState));
</text>);
    <div @Html.Raw(Model.GetHtmlAttributes())>
        <div class="side-panel col col-1 d-none">
            <div class="card">
                @await Model.ButtonToolbar.InvokeAsync(Component)
                <div class="card-body p-1">
                    @await Model.SidePanelContent.InvokeAsync(Component)
                </div>
            </div>
        </div>
        @await Model.OpenSidebarButton.InvokeAsync(Component)
        <div class="side-panel-content col">
            @await Model.MainContent.InvokeAsync(Component)
        </div>
    </div>
}
else
{
    @await Model.MainContent.InvokeAsync(Component)
}


@await Model.RenderStylesAndScripts(Component)