
/*#region Form*/
form {
    &.readonly-form {
        .hidden-readonly {
            display: none;
        }

        .btn-save {
            display: none;
        }

        .btn-readonly {
            display: none;
        }

        .form-control, .select2-selection {
            background: none !important;
            border: none;
            max-width: max-content;
        }
        .select2-selection__arrow{
            display:none;
        }
        .input-group-text {
            background: none;
            border: none;
        }
    }

    &:not(.readonly-form) {
        .hidden-edit{
            display: none;
        }
        .btn-edit {
            display: none;
        }
    }
}

i.uic-value-changed {
    color: var(--warning);

    &:not(:hover) {
        animation: pulseIcon 2s infinite;
    }
}
input.uic-value-changed, select.uic-value-changed{
    animation: pulseBorder 2s infinite;
}

@keyframes pulseIcon{
    0% {
        transform: initial;
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: initial;
    }
}

@keyframes pulseBorder{
    0% {
        box-shadow: 0 0 0 0rem var(--warning);
    }
    70% {
        box-shadow: 0 0 0 0.2rem var(--warning);
    }
    100%{
        box-shadow: 0 0 0 0rem;
    }
}


/*#endregion Form*/

/*#region Buttons*/
.btn[disabled]{
    cursor: not-allowed;
}
/*#endregion Buttons*/

/*#region ButtonToolbar */
.uic.btn-toolbar {
    &.dist-none {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right, span {
            @extend .btn-group;
        }
    }

    &.dist-short {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 1);
        }
    }

    &.dist-medium {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 3);
        }
    }

    &.dist-long {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 5);
        }
    }


    > .btn-toolbar-left {
        margin-right: auto;
    }

    > .btn-toolbar-right {
        margin-left: auto;
    }

    > .btn-toolbar-center {
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-toolbar-sm {
    .btn {
        @extend .btn-sm;
    }
}
/*#endregion ButtonToolbar*/

/*#region Inputs*/

    .input-group {
        // margin-left: -1px;
        // border-top-left-radius: 0;
        // border-bottom-left-radius: 0;

        > :not(:first-child):not(.input-group-prepend) {
            margin-left: -1px;
            @include border-left-radius(0);
        }

        > :not(:last-child):not(.input-group-append) {
            @include border-right-radius(0);
        }
    }

    /*#region Color*/

// Coloris
// ---------------------------------------------------
.clr-field {
    flex: auto;
    flex-basis: 0;
    display: block;
    // Bootstrap
    .input-group &:not(:first-child) .form-control {
        @include border-left-radius(0);
    }

    .input-group &:not(:last-child) .form-control {
        @include border-right-radius(0);
    }
    // Thumbnail
    :not([class*="coloris-"]) > &:not(.clr-rtl) button, .input-group:has(i) &:not(:first-child) button {
        @include border-left-radius(0);
    }

    :not([class*="coloris-"]) > &.clr-rtl button, .input-group:has(i) &:not(:last-child) button {
        @include border-right-radius(0);
    }
    // Thumbnails
    button {
        @include border-radius($input-border-radius);

        .coloris-none &, .input-group:has(i) & {
            display: none;
        }

        .coloris-full & {
            width: 100%;
            height: 100%;
            // border-radius: 5px;
        }

        .coloris-square &, .coloris-circle & {
            width: 22px;
            height: 22px;
            left: 5px;
            right: auto;
            // border-radius: 5px;
        }

        .coloris-circle & {
            border-radius: 50%;
        }
    }

    input {

        .coloris-square &, .coloris-circle & {
            padding-left: 36px;
        }

        .input-group:has(i) & {
            padding-left: 0.75rem;
        }
    }
}

.clr-picker {
    z-index: ($zindex-modal+1);
}

    /*#endregion Color*/


    /*#region Timespan*/

    .uic-timespan-input {
        min-width: 50px;
    }

    .uic-timespan-input:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-style: dashed;
    }

    .uic-timespan-input:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-style: none;
    }

    /*#endregion Timespan*/


    /*#region ToggleSwitch*/

    .custom-control-input.indeterminate ~ .custom-control-label {
        &::before {
            background-color: var(--secondary, $custom-control-indicator-bg);
        }

        &::after {
            transform: translateX(($custom-switch-width - $custom-control-indicator-size)/2);
        }
    }

    .custom-control-input[disabled] ~ .custom-control-label ::after, .custom-control-input:disabled ~ .custom-control-label::after {
        opacity: 0.25;
    }

    /*#endregion ToggleSwitch*/


    /*#region Select2*/
    .select2-container{
        flex-grow:1;
    }
    .select2-container .select2-results__option {
        min-height: 1.8rem; //if Value is null, this height will be set
        &[aria-disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .select2-results__option:has(ul:empty) {
        display: none;
    }
    /*.select2-container--open[data-for=@id] .select2-results__option--highlighted {
    background-color: @Model.Color.ToHex() !important;
}*/
    /*#endregion MultiSelect*/
    /*#endregion Inputs*/

/*#region SidePanel*/
.side-panel-container.horizontal {
    .side-panel {
        min-width: fit-content;
        padding: 0;
    }
}
/*#endregion SidePanel*/

/*#region Card*/
.uic.card {
    min-width: fit-content;
}

> .card-body {
    min-width: fit-content;
}

.uic.card:last-child {
    margin-bottom: 0;
}
/*#endregion Card*/

/*#region Modal*/
.modal-footer .btn-toolbar:only-child {
}
/*#endregion Modal*/

/*#region Tabs*/
.uic.card-tabs {


    a.nav-link {
        margin: -1px;
        display: inline-flex;

        > .tab-tools {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }

    &:not(.card-outline) > .card-header {
        border-bottom: inherit;
    }

    .card-header-tabs {

        .tab-title {
            margin-left: auto;

            &:last-child {
                margin-right: auto;
            }
        }
    }

    .col-tab-headers {
        flex-grow: 0;
        min-width: fit-content;
        padding-left: 0px;
        padding-right: 0px;
    }

    > .row {
        margin-left: 0px;
        margin-right: 0px;

        .col-tab-content {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
            padding-top: $card-spacer-y;
            padding-bottom: $card-spacer-y;
        }
    }

    .tab-pane > .uic.card-tabs:only-child {
        margin-left: -$card-spacer-x;
        margin-right: -$card-spacer-x;
        margin-top: -$card-spacer-y;
        margin-bottom: -$card-spacer-y;
    }

    .tab-pane > .card:only-child {
        box-shadow: none;
    }
}
/*#endregion Tabs*/

/*#region Accordion*/
.uic.card-accordion.no-margin {
    > .card {
        margin-bottom: 0;
    }
}
/*#endregion Accordion*/

/* #region SidePanel */
.uic .side-panel-container {
    &.horizontal {
        > .side-panel {
            //transition: width $transition-speed ease-in-out;

            > .card {
                height: 100%;
                overflow: auto;
            }

            &.collapsed {
                width: 0px;
                display: none;
            }

            &.overlay {
            }

            &.fixed {
            }
        }
    }

    > .side-panel {
        &.overlay {
            position: absolute;
            opacity: 0.95;
            z-index: 50;
        }

        > .side-panel-content {
            height: fit-content;
        }
    }

    .btn-sidebar-open.position-absolute {
        position: absolute;
        z-index: 49;
        margin-left: -5px;
    }
}
/* #endregion SidePanel */

