
/*#region Form*/
form {
    &.readonly-form {
        .hidden-readonly {
            display: none;
        }

        .btn-save {
            display: none;
        }

        .btn-readonly {
            display: none;
        }

        .form-control, .select2-selection {
            background: none !important;
            border: none;
            max-width: max-content;
        }
        .select2-selection__arrow{
            display:none;
        }
        .input-group-text {
            background: none;
            border: none;
        }
    }

    &:not(.readonly-form) {
        .btn-edit {
            display: none;
        }
    }
}

/*#endregion Form*/

/*#region Buttons*/
.btn[disabled]{
    cursor: not-allowed;
}
/*#endregion Buttons*/

/*#region ButtonToolbar */
.uic.btn-toolbar {
    &.dist-none {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            @extend .btn-group;
        }
    }

    &.dist-short {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 1);
        }
    }

    &.dist-medium {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 3);
        }
    }

    &.dist-long {
        > .btn-toolbar-left, .btn-toolbar-center, .btn-toolbar-right {
            display: flex;
            gap: map-get($spacers, 5);
        }
    }


    > .btn-toolbar-left {
        margin-right: auto;
    }

    > .btn-toolbar-right {
        margin-left: auto;
    }

    > .btn-toolbar-center {
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-toolbar-sm {
    .btn {
        @extend .btn-sm;
    }
}
/*#endregion ButtonToolbar*/

/*#region Inputs*/

.input-group {
    // margin-left: -1px;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;

    > :not(:first-child):not(.input-group-prepend) {
        margin-left: -1px;
        @include border-left-radius(0);
    }

    > :not(:last-child):not(.input-group-append) {
        @include border-right-radius(0);
    }
}

    /*#region Color*/
    

    /*#endregion Color*/


    /*#region Timespan*/

    .uic-timespan-input {
        min-width: 50px;
    }

    .uic-timespan-input:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-style: dashed;
    }

    .uic-timespan-input:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-style: none;
    }

    /*#endregion Timespan*/


    /*#region ToggleSwitch*/

    .custom-control-input.indeterminate ~ .custom-control-label {
        &::before {
            background-color: var(--secondary, $custom-control-indicator-bg);
        }

        &::after {
            transform: translateX(($custom-switch-width - $custom-control-indicator-size)/2);
        }
    }

    .custom-control-input[disabled] ~ .custom-control-label ::after, .custom-control-input:disabled ~ .custom-control-label::after {
        opacity: 0.25;
    }

    /*#endregion ToggleSwitch*/


    /*#region Select2*/
    .select2{

    }
    .select2-container--bootstrap4 .select2-results__option {
        min-height: 2rem; //if Value is null, this height will be set
        &[aria-disabled] {
            opacity: 0.5;
        }
    }
    span .select2-selection__choice {
        background-color: var(--blub, blue) !important;
        border-color: var(--blub, blue) !important;
    }

    span.select2-container--focus .select2-selection--multiple {
        border-color: var(--blub, blue) !important;
    }

/*.select2-container--open[data-for=@id] .select2-results__option--highlighted {
    background-color: @Model.Color.ToHex() !important;
}*/

    /*#endregion MultiSelect*/


/*#endregion Inputs*/

/*#region SidePanel*/
.side-panel-container.horizontal{
    .side-panel{
        min-width: fit-content;
        padding: 0;

    }
}

/*#endregion SidePanel*/

/*#region Card*/
.uic.card:last-child{
    margin-bottom:0;
}
/*#endregion Card*/

/*#region Tabs*/
.uic.card-tabs {


    a.nav-link {
        margin: -1px;
        display: inline-flex;

        > .tab-tools {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }

    &:not(.card-outline) > .card-header {
        border-bottom: inherit;
    }

    .card-header-tabs {

        .tab-title {
            margin-left: auto;

            &:last-child {
                margin-right: auto;
            }
        }
    }

    .col-tab-headers {
        flex-grow: 0;
        min-width: fit-content;
        padding-left: 0px;
        padding-right: 0px;
    }

    > .row {
        margin-left: 0px;
        margin-right: 0px;

        .col-tab-content {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
            padding-top: $card-spacer-y;
            padding-bottom: $card-spacer-y;
        }
    }

    .tab-pane > .uic.card-tabs:only-child {
        margin-left: -$card-spacer-x;
        margin-right: -$card-spacer-x;
        margin-top: -$card-spacer-y;
        margin-bottom: -$card-spacer-y;
    }
}
/*#endregion Tabs*/

/*#region Accordion*/
.uic.card-accordion.no-margin{
    >.card{
        margin-bottom:0;
    }
}
/*#endregion Accordion*/




.side-panel-container {
    &.horizontal {
        > .side-panel {
            //transition: width $transition-speed ease-in-out;

            > .card {
                height: 100%;
                overflow: auto;
            }

            &.collapsed {
                width: 0px;
            }

            &.overlay {
            }

            &.fixed {
            }
        }
    }

    > .side-panel {
        &.overlay {
            position: absolute;
            opacity: 0.95;
            z-index: 50;
        }

        > .side-panel-content {
            height: fit-content;
        }
    }

    .btn-sidebar-open.position-absolute {
        position: absolute;
        z-index: 49;
        margin-left: -5px;
    }
}