@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Enums
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Helpers
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@model UICInputList
@{
}

<div @Html.Raw(Model.GetHtmlAttributes())>
    <div class="input-instances">
        @foreach(var value in Model.Value)
        {
            var instance = CommonHelper.CopyObject(Model.SingleInstanceInput);
            instance.ValueObject = value;
            <div class="input-instance">
                @await instance.InvokeAsync(Component)
            </div>
        }
    </div>
</div>