

@model UICLabel
@{
    string labelText = @L.GetResourceValue(Model.LabelText);


}
<label @Html.Raw(Model.GetHtmlAttributes())>
    @Html.Raw(labelText)
    @if (Model.Required)
    {
        <span class="text-danger" title="@L.GetResourceValue("Validation.Required", "{0} is required", labelText)">*</span>
    }
    @if(!string.IsNullOrWhiteSpace(Model.GetAttribute("title")))
    {
        @await Model.TooltipIcon.InvokeAsync(Component)
    }
        
</label>
