<aside class="main-sidebar main-sidebar-custom sidebar-no-expand sidebar-dark-primary elevation-4">
   

    <!-- Sidebar -->
    <div class="sidebar">

        @{
            var storedComponent = new UICHtmlStorage()
            {
                Id = "NavLeft",
                GetValue = new UICActionGet("/Home/GetNavLeft"),
                ValidateTimestamp = new UICActionGet("/Home/GetNavLeftTime")
            };
            //storedComponent.ValidateTimestamp = new UICCustom("return true");
        }
        @await Component.InvokeAsync(storedComponent, storedComponent.LoadHere(true))
        <!-- Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @* Add icons to the links using the .nav-icon class with font-awesome or any other icon font library *@
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        @await Component.InvokeAsync(storedComponent.LoadHere(false))
    </div>

   
    <div class="sidebar-custom" style="display: none">
        <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
        <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
    </div>
</aside>
