@using CDCPortal.DA.UIComponents.Models.Inputs;
@model UICInputCheckboxThreeState

@{

    string id = Model.GetOrGenerateId();
    if (Model.Actions.HasValue())
    {
        Model.Actions.SetIdentifier($"#{id}");
    }

    Model.AddAttribute("data-value", Model.Value?.ToString().ToLower() ?? "null");


    Model.AddAttribute("class", "three-state-checkbox");
    Model.AddAttribute("class", "custom-control-input");
}

<div class="custom-control custom-switch icheck-@Model.Color">
    <input type="checkbox" @Html.Raw(Model.GetHtmlAttributes()) />
    <label class="custom-control-label" for="@id"></label>
</div>


<script>
    $(document).ready(function () {
        uic.SetThreeState($('#@id'));

        $('#@id').click(function () {
            console.log('three-state-toggle');
            e.preventDefault;
            var oldVal = $(this).data('value');
            if (oldVal == "null" || oldVal == "")
                $(this).data('value', "true");
            else if (oldVal == "false")
                $(this).data('value', "null");
            else
                $(this).data('value', "false");

            uic.SetThreeState($(this));
        })
    })
</script>